html{
    background-color: pink;
}
h1{
    font-family: 'Yellowtail', cursive;
    font-size: 70px;
    text-align: center;
    color: red;
}
p{
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    text-align: center;
}
#quiz{
    margin-left: 25px;
}
#submit,#backto,#home{
    font-family: 'Shizuru', cursive;
    color: white;
    background: black;
    position: relative;
    border-radius: 10px;
    left: 45%;
    height: 35px;
    width: 65px;
}
#toquiz{
    font-family: 'Shizuru', cursive;
    color: white;
    background: black;
    position: relative;
    border-radius: 10px;
    left: 45%;
    height: 60px;
    width: 160px; 
    font-size: 20px;
}
#results{
    font-family: 'Yellowtail', cursive;
    color: black;
    position: relative;
    left: 50%;
}
#Quizcon{
    margin: 15px;
}
.question{
    font-family: 'Yellowtail', cursive;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: red;
}
.answers{
    font-family: 'Yellowtail', cursive;
    font-size: 25px;
    left: 40%;
    position: relative;
}
input[type=radio]{
    display: list-item;
}
