html{
    background-color: rgb(231, 109, 160);
}
h1{
    font-family: 'Shizuru', cursive;
    font-size: 65px;
    text-align: center;
}
#quiz{
    margin-left: 25px;
}
#submit{
    font-family: 'Shizuru', cursive;
    font-weight: bold;
    color: white;
    background: black;
    position: relative;
    border-radius: 10px;
    left: 50%;
    height: 35px;
    width: 65px;
}
#results{
    font-family: 'Yellowtail', cursive;
    color: black;
    position: relative;
    left: 50%;
}
#Quizcon{
    margin: 15px;
}
.question{
    font-family: 'Shizuru', cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.answers{
    font-family: 'Yellowtail', cursive;
    font-size: 25px;
    left: 40%;
    position: relative;
}
input[type=radio]{
    display: list-item;
}
