html{
    background-color: pink;
    margin: 0 auto;
}
h1{
    font-family: 'Yellowtail', cursive;
    font-size: 70px;
    text-align: center;
    color: red;
}
p{
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    text-align: center;
}
#quiz{
    margin-left: 25px;
    margin-top: 5%;
}
#submit{
    background: black;
    position: relative;
    border-radius: 10px;
    left: 38%;
    height: 60px;
    width: 160px;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Shizuru', cursive;
    cursor: pointer;
}
a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-family: 'Shizuru', cursive;
    text-align: center;
}
#toquiz, #backto, #home{
    background: black;
    position: relative;
    border-radius: 10px;
    left: 45%;
    height: 60px;
    width: 160px;
    margin-bottom: 10px; 
}
#results{
    font-family: 'Yellowtail', cursive;
    color: black;
    position: relative;
    left: 50%;
    font-size: 15px;
}
.currentquestion{
    font-family: 'Yellowtail', cursive;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: red;
    position: relative;
    margin-top: 5%;
}
.answers{
    font-family: 'Yellowtail', cursive;
    font-size: 25px;
    left: 40%;
    position: relative;
    margin-top: 2%;
}
input[type=radio]{
    display: list-item;
}
footer{
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
    background-color: black;
}
