html{
    background-color: pink;
    margin: 0 auto;
}
h1{
    font-family: 'Yellowtail', cursive;
    font-size: 70px;
    text-align: center;
    color: red;
}
p{
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    text-align: center;
}
#quiz{
    margin-left: 25px;
    margin-top: 5%;
}
.slide{
    background: white;
    border-radius: 20px;
    padding: 7px;
    margin: 50px;
}
#submit{
    background: black;
    position: relative;
    border-radius: 10px;
    left: 38%;
    height: 60px;
    width: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Shizuru', cursive;
    cursor: pointer;
}
#next{
    background: black;
    position: relative;
    border-radius: 10px;
    left: 38%;
    height: 60px;
    width: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Shizuru', cursive;
    cursor: pointer;
    display: inline-block; 
}
a{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
#toquiz{
    background: black;
    font-family: 'Shizuru', cursive;
    position: relative;
    text-align: center;
    border-radius: 10px;
    left: 45%;
    height: 60px;
    width: 160px;
    margin-bottom: 10px; 
}
#Home{
    background: black;
    font-family: 'Shizuru', cursive;
    position: relative;
    text-align: center;
    border-radius: 10px;
    left: 44%;
    height: 60px;
    width: 160px;
    margin-bottom: 10px;
    margin-top: 50px;   
}
#retry{
    background: black;
    font-family: 'Shizuru', cursive;
    position: relative;
    text-align: center;
    border-radius: 10px;
    left: 44%;
    height: 60px;
    width: 160px;
    margin-bottom: 10px;
    margin-top: 50px; 
}
#result{
    font-family: 'Yellowtail', cursive;
    color: black;
    position: relative;
    margin-top: 140px;
    margin-left: 10px;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}
#resultcontainer{
    background: white;
    padding-bottom: 40px;
    margin: 80px;
    border-radius: 20px;
}
#quizmessage{
    font-family: 'Yellowtail', cursive;
    color: black;
    text-align: center;
    font-size: 27px;
    margin-top: 40px;
}
.hidden{
    display:none;
}
.currentquestion{
    font-family: 'Yellowtail', cursive;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: red;
    position: relative;
    margin-top: 2%;
}
.answers{
    font-family: 'Yellowtail', cursive;
    font-size: 25px;
    left: 40%;
    position: relative;
    margin-top: 1%;
    margin-bottom: 25px;
}
input[type=radio]{
    display: list-item;
}
input[type=radio]:hover{
    cursor: pointer;
}
footer{
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
    background-color: black;
}